[Unit]
Description=Hello World as a Node app

[Service]
ExecStart=/var/www/hello-world/app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/hello-world

[Install]
WantedBy=multi-user.target